<div class="container">
  <form class="example-form" #form="ngForm" (ngSubmit)="login(form)">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input ngModel name="email" required email #email=ngModel id="email" matInput>
      <mat-hint>Your awesome email</mat-hint>
      @if (!email.valid && email.hasError('email') && email.touched) {
        <mat-error>Email must be a valid email format</mat-error> <br>
      }
      @if (!email.valid && email.hasError('required') && email.touched) {
        <mat-error>Email is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input ngModel name="password" required minlength="4"
             pattern="^(?=.*[A-Z]).{8,}$" #password=ngModel id="password" matInput>
      <mat-hint>Your secert password</mat-hint>
      @if (!password.valid && password.hasError('pattern') && password.touched) {
        <mat-error>Password must be a valid email format</mat-error> <br>
      }
      @if (!password.valid && password.hasError('required') && password.touched) {
        <mat-error>Password is required</mat-error>
      }
    </mat-form-field>

    <button type="submit"
            [disabled]="!form.valid"
            mat-raised-button color="primary">Login
    </button>
  </form>
</div>
