
.container{
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  .example-form{
    width: 400px;
    display: flex;
    flex-direction: column;
    mat-form-field{
      margin: 15px;
    }


  }

}

