
<mat-card class="example-card">
  @if (book) {
  <mat-card-header>

    <mat-card-title>{{ book.title }}</mat-card-title>
    <mat-card-subtitle>{{ book.price | discount | currency: 'USD'  }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="book.imageUrl" (click)="imgaeClickedHanlder()">
  <mat-card-content>
    <p>
      {{book.publishedDate | date}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    @if (!itemInCart) {
      <button mat-raised-button	color="primary" (click)="addToCartHandler()">Add To Cart</button>
    } @else {
      <button mat-raised-button	color="primary" (click)="removeFromCartHanlder()">Remove From Cart</button>
    }

  </mat-card-actions>
  }
</mat-card>
