<div class="book">
  @if (book) {
    <div class="title">
      {{ book.title }}
    </div>

    <img [src]="book.imageUrl" (click)="imgaeClickedHanlder()">
    <div class="publish-date">
      {{book.publishedDate | date}}
    </div>
    <div class="price">
      {{ book.price | discount | currency: 'USD'  }}
    </div>

    @if (!itemInCart) {
      <button (click)="addToCartHandler()">Add To Cart</button>
    } @else {
      <button (click)="removeFromCartHanlder()">Remove From Cart</button>
    }

  }
</div>
